{
  "containerDefinitions": [
    {
      "volumesFrom": [],
      "memory": 300,
      "extraHosts": null,
      "dnsServers": null,
      "disableNetworking": null,
      "dnsSearchDomains": null,
      "portMappings": [],
      "hostname": null,
      "essential": true,
      "entryPoint": [
        "sh",
        "-c"
      ],
      "mountPoints": [],
      "name": "picsou-app",
      "ulimits": null,
      "dockerSecurityOptions": null,
      "environment": [],
      "links": [],
      "workingDirectory": null,
      "readonlyRootFilesystem": null,
      "image": "944690102204.dkr.ecr.eu-west-1.amazonaws.com/picsou:latest",
      "command": [
        "/usr/bin/picsou"
      ],
      "user": null,
      "dockerLabels": null,
      "logConfiguration": null,
      "cpu": 10,
      "privileged": null
    }
  ],
  "volumes": [],
  "family": "SuperAwesomeTask",
  "placementConstraints": []
}
